/* @import "rsuite/dist/rsuite.css"; */
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .navbarul {
    list-style: none;
    display: flex;
    font-family: 'Noto Sans', sans-serif !important;
    font-weight: normal !important;
    justify-content: center; /* Center elements horizontally */
    background-color: #0e67ee;
    margin: 0;
    padding: 1rem;
  }
  
  .navbarul > li {
    margin: 0 10px; /* Adjust spacing between navbar items */
  }
  
  .navbarul > li:hover {
    cursor: pointer;
  }
  
  .nostyle {
    background-color: #0e67ee !important;
    border: none !important;
  }
  
  .nostyle:hover {
    background-color: #EBECF0 !important;
  }
  
  .menuclass > ul {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  
  .dropdownclass {
    font-family: 'Noto Sans', sans-serif !important;
    font-weight: normal !important;
    background-color: #0e67ee !important;
    border: none !important;
    font-size: 15px;
    color: black;
    cursor: pointer;
  }
  