.titlebarul {
  list-style: none;
  display: flex;
  gap: 5rem;
  font-family: "Noto Sans", sans-serif !important;
  font-weight: normal !important;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  margin: 0;
}

.titlebarul > li {
  margin: 0 10px; /* Adjust spacing between navbar items */
}

.titlebarul > li:hover {
  cursor: pointer;
}